body{
     margin: 0;
     display: flex;
     background-color: sandybrown;
     text-align: center;
     align-items: center;
     justify-content: center;
     height: 100vh;

}
.main{
    background-color: chocolate;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid #9d3b3b;
    box-shadow: 0 2px 2px 2px #7b3cb6;
}
#textarea{
    font-size: 20px;
    background-color: #e3b783;
    border-radius: 10px;
    border: 5px solid #8abb8a;
    box-shadow: 0 2px 2px 2px #b75f8b;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
}
.last{
    display: flex;
    font-size: 15px;
    font-family: "Arial Black";
   justify-content: space-between;
    color: #9b1616;
}